<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="/css/layout.css"
	th:href="@{css/layout.css}" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="myScripts/nikoScripts.js"></script>
<title>Departments</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="navigation">
		<ul class="nav nav-pills nav-stacked">
			<li><a th:href="@{/companies}">Company</a></li>
			<li class="active"><a th:href="@{/departments}">Departments</a></li>
			<li><a th:href="@{/employees}">Employees</a></li>
			<li><a th:href="@{/projectmembers}">Project members</a></li>
			<li><a th:href="@{/projects}">Projects</a></li>
			<li><a th:href="@{/workhours}">Workhours</a></li>
		</ul>
		<div id="logoutbtn" class="col-md-4" style="padding: 20px 0">
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" class="btn btn-danger" />
			</form>
		</div>
	</div>
	<div class="content">
		<h1>Departments</h1>
		<table class="table table-striped">
			<tr>
				<th>Name</th>
				<th sec:authorize="hasAuthority('ADMIN')"></th>
			</tr>
			<tr th:each="department : ${departments}">
				<td th:text="${department.name}"></td>
				<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/deldept/{id}(id=${department.id})}"
					class="btn btn-danger">Delete</a></td>
			</tr>
		</table>
		<div sec:authorize="hasAuthority('ADMIN')" id="deptcreate" class="btn btn-success">Create a new
			department</div>
		<div sec:authorize="hasAuthority('ADMIN')" id="deptdetails">
			<h2>Department Details</h2>
			<div>
				<form th:object="${newdept}" th:action="@{/deptadd}" action="#"
					method="post">
					<div class="form-group">
						<label for="deptname">Name</label> <input type="text"
							class="form-control" id="deptname" th:field="*{name}" />
					</div>
					<input type="submit" value="Create" class="btn btn-success"></input>
					<button id="cancel" type="button" class="btn btn-danger"
						onclick="this.form.reset();">Cancel</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>